<?xml version='1.0' encoding='utf-8'?>
<widget id="com.senify.fmp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Senify</name>
    <description>
SENIFY - A digital math tool    </description>
    <author email="armstr38@uni.coventry.ac.uk" href="http://senify.co.uk">
      Ashley Armstrong
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
